bin
docx-template
lib
lib64
gameflow/__pycache__
webmodules/__pycache__
pyvenv.cfg
ring
static/iveskiteDazni.gif
static/pasirinkiteRADIO.gif
static/rysioIsakymas.gif
static/signalasBlokuojamas.gif
static/ijunkiteStotele.gif
static/isjunkiteStotele.gif
*.mp4
*.gif


data/laidinisRysys.mp3
