<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
    <h1>paleiskite cirkuliacini siurbli OPERACINIU rezimu</h1>
    <!-- <img class="gif" src="/static/pasirinkiteRADIO.gif"> -->
    <!-- <video src="/static/pasirinkiteRADIO.mp4" class="video" autoplay loop ></video> -->

    <!-- <h1>Įveskite radijo dažnį į stotelę</h1>
    <ol>
        <li>Palaukite, kol stotelė įsijungs.</li>
        <li>Spauskite <div class="btn s"><div class="smol">MNU</div></div>.</li>
        <li>Naudodami <div class="btn"><</div> ir <div class="btn">></div>, suraskite <code>RADIO</code> ir spauskite <div class="btn s"><div class="smol">ENT</div></div>.</li>
        <li>Įveskite ryšio protokole rastą dažnį <code>R:</code> ir <code>T:</code>.</li>
        <li>Spauskite <div class="btn s"><div class="smol">ENT</div></div>.</li>
    </ol> -->
</body>
</html>