<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <h1>Is leto istraukiami kontroliniai strypai pradedant nuo reaktoriaus centro, is leto kyla reaktoriaus galia iki 5%, dideja neutronu sparta ir neutronu srautas (skaitliukas?)    
        Stebima kaip kyla vandens temperatrura, garu temperatura, garu slegis. Laukiama kol garu slegis pasieks 6.5 MPa
    </h1>
    <!-- <img src="/static/signalasBlokuojamas.gif" class="gif"> -->
    <!-- <video src="/static/signalasBlokuojamas.mp4" class="video" autoplay loop ></video> -->

</body>
</html>