<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <!-- <h1>Laidinis ryšys</h1>
    <ol>
        <li>Atjunkite bet kokias esamas stotis nuo centrinės stoties.</li>
        <li>Prijunkite stotis, kurias matote ryšio įsakyme į centrinę stotį.</li>
        <li>Laikykite viršutinį racijos mygtuką.</li>
        <li>Atleiskite mygtuką po 3s nuo tono pradžios.</li>
        <li>Laukite atsako.</li> -->
        <video src="/static/laidinisRysys.mp4" class="video" autoplay loop ></video>
        </video>
    </ol>
</body>
</html>